@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(75, 28, 75);
    position: relative;
    width: 100vw;
    
}

div{
    background-size: cover;
    background-image: url(../imagens/metal.jpg);
    width: 40vh;
    height: 60vh;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    border-radius: 10px;
}
section{
    background-color: white;
    margin-top: 500px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    box-shadow:  1px -5px 6px rgba(0, 0, 0, 0.322);
}
section h1{
    text-align: center;
    padding: 5px;
}
section > p{
    padding: 20px;
    text-indent: 5px;
}


.login {
    background-color: rgb(92, 35, 92);
    border-radius: 6px;
    margin: 5px;
}
input{
    width: 240px;
    border-radius: 5px;
    padding: 10px;
    background-color: aquamarine;
    margin: 1px;
}

input:hover { 
    background-color: white;
}

label {
    padding: 20px;
}
.enviar {
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(68, 163, 163);
    border: 2px solid white;
    font-size: 1.2em;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.342);
}

.enviar:hover{
    background-color: white;
    color: rgb(68,  163, 163);
    border: 2px solid rgb(68,  163, 163);;
}
    
a{
    text-decoration: none;
    color: rgb(68, 163, 163) ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    display:  block;
    margin: auto;
    width: 100%;
    text-align: center;
    border: 2px solid rgb(68, 163, 163);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
}

a:hover {
    color: white;
    background-color: rgb(76, 114, 114);
}
